.filterBar {
  background-color: #0068b3;
  color: #fff !important;
}
// .react-date-picker__clear-button {
//   display: none !important;
// }
// .react-date-picker__calendar-button {
//   content: "";
// }
// .react-date-picker__wrapper {
//   background-color: #fff;
//   color: #0068b3 !important;
// }
// .react-date-picker__inputGroup {
//   padding: 5px 10px !important;
// }
// .react-date-picker__calendar-button {
//   color: #0068b3 !important;
//   padding: 5px 10px !important;
//   margin: 0 !important;
//   width: 15%;
// }
// .react-date-picker__calendar-button:hover {
//   background-color: #0068b313;
// }
// .react-calendar{
//     background-color: #424d65 !important;
//     border: none;
//     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
//     button:hover,button:focus{
//         color: #0068b3 !important ;
//     }
// }

// .rs-picker-menu {
//   position: absolute !important;
//   top: 50% !important;
//   left: 50% !important;
//   transform: translate(-50%, -50%) !important;
//   z-index: 999999 !important;
//   width: 100% !important;
// }
@media screen and (max-width: 575px) {
  .rs-picker-menu {
    width: 400px !important;
  }
  .rs-stack {
    display: grid !important;
    width: 400px !important;
    .rs-stack-item {
      width: 400px !important;
    }
  }
  .rs-picker-daterange-content {
    width: 100% !important;
  }
  .rs-picker-daterange-calendar-group {
    display: grid;
    min-width: unset !important;
    height: 100% !important;
    gap: 0 !important;
    align-items: start !important;
    .rs-calendar {
      grid-template-columns: 12;
      width: 400px !important;
      border-right: unset !important ;
    }
  }
  @media screen and (max-width: 443px) {
    .rs-picker-menu {
      scale: 0.8;
      top: 45% !important;
      left: -5% !important;
    }
  }
  @media screen and (max-width: 370px) {
    .rs-picker-menu {
      scale: 0.7;
      top: 45% !important;
      left: -15% !important;
    }
  }
  @media screen and (max-width: 294px) {
    .rs-picker-menu {
      scale: 0.5;
      top: 45% !important;
      left: -25% !important;
    }
  }
}
